<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>logo</key>
		<string>ic_home</string>
		<key>text</key>
		<string>首页</string>
	</dict>
	<dict>
		<key>logo</key>
		<string>ic_shezhi</string>
		<key>text</key>
		<string>设置</string>
	</dict>
	<dict>
		<key>logo</key>
		<string>ic_mianqiantai</string>
		<key>text</key>
		<string>免前台</string>
	</dict>
	<dict>
		<key>logo</key>
		<string>ic_dingdan</string>
		<key>text</key>
		<string>订单</string>
	</dict>
	<dict>
		<key>logo</key>
		<string>ic_zuji</string>
		<key>text</key>
		<string>足迹</string>
	</dict>
</array>
</plist>
