<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<dict>
		<key>placeholder</key>
		<string>输入您的真实姓名</string>
		<key>prompt</key>
		<string>该名字用于您订房时确认，不会透漏给他人</string>
	</dict>
	<key>nickname</key>
	<dict>
		<key>placeholder</key>
		<string>取个昵称，让更多人认识你</string>
		<key>prompt</key>
		<string></string>
	</dict>
	<key>company</key>
	<dict>
		<key>placeholder</key>
		<string>输入您的单位名称</string>
		<key>prompt</key>
		<string>建议输入全名 如XX市XX科技有限公司</string>
	</dict>
	<key>email</key>
	<dict>
		<key>placeholder</key>
		<string>xxx@zkjinshi.com</string>
		<key>prompt</key>
		<string></string>
	</dict>
</dict>
</plist>
