<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>头像</string>
		<string>姓名</string>
		<string>昵称</string>
		<string>性别</string>
		<string>单位</string>
		<string>邮箱</string>
	</array>
	<array>
		<string>修改手机</string>
		<string>发票信息</string>
		<string>个人标签</string>
		<string>关于我们</string>
	</array>
</array>
</plist>
