<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sectionTitle</key>
		<string>年龄段</string>
		<key>itemsArray</key>
		<array>
			<dict>
				<key>itemTitle</key>
				<string>95后</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>itemTitle</key>
				<string>90后</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>itemTitle</key>
				<string>85后</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>itemTitle</key>
				<string>80后</string>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionTitle</key>
		<string>家乡</string>
		<key>itemsArray</key>
		<array>
			<dict>
				<key>itemTitle</key>
				<string>东北</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>itemTitle</key>
				<string>西北</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>itemTitle</key>
				<string>中原</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>itemTitle</key>
				<string>西南</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>itemTitle</key>
				<string>北京</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>itemTitle</key>
				<string>上海</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>itemTitle</key>
				<string>湖广</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>itemTitle</key>
				<string>江浙</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>itemTitle</key>
				<string>闽南</string>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionTitle</key>
		<string>喜好</string>
		<key>itemsArray</key>
		<array>
			<dict>
				<key>itemTitle</key>
				<string>辣</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>itemTitle</key>
				<string>甜</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>itemTitle</key>
				<string>香</string>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
	</dict>
</array>
</plist>
